$font-color: #d2dae2;
$bg-color: #1e272e;
$SanFranciscoRegular: "SanFranciscoRegular", sans-serif;
$Corbel: "Corbel", sans-serif;
$RobotoRegular: "RobotoRegular", sans-serif;
$RobotoMedium: "RobotoMedium", sans-serif;
$RobotoLight: "RobotoLight", sans-serif;



body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: $bg-color;
    width: 80%;
    padding: 0 10%;
    height: 60px;
    align-items: center;
    font-size: 14px;
    &_left{
        width: 320px;
        display: flex;
        &-launge{
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            li{
                position: relative;
                padding: 0 5px;
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 20px;
                    background-color: $font-color;
                    top: -2px;
                    right: -1px;
                }
                &:last-child{
                    &::after{
                        content: "";
                        display: none;
                    }
                    a{
                        font-family: $Corbel;
                        color: #808e9b;
                        font-size: 1em;
                    }
                }
                a{
                    font-family: $Corbel;
                    font-size: 1em;
                    color: $font-color;
                    text-decoration: none;
                }
            }
        }
        &-logo{
            font-family: $SanFranciscoRegular;
            color: $font-color;
            margin-left: 20px;
        }
    }
    &_center{
        &-search{
            width: 27em;
            padding: 10px 20px;
            border-radius: 50px;
            border: none;
            font-size: 1em;
            background-color: #515d67;
            color: $font-color;
            outline: none;
            &::placeholder{
                color: $font-color;
                font-style: italic;
            }
        }
    }
    &_right{
        width: 320px;
        display: flex;
        justify-content: flex-end;
        &-account{
            margin-right: 15px;
            display: flex;
            align-items: center;
            position: relative;
            img[alt=person]{
                margin-right: 10px;
            }
            span{
                font-family: $SanFranciscoRegular;
                color: $font-color;
                font-size: 1em;
            }
            img[alt=array-down]{
                margin-left: 10px;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                height: 30px;
                background-color: $font-color;
                top: -3px;
                right: -15px;
            }
        }
        &-basket{
            margin-left: 15px;
            display: flex;
            align-items: center;
            img[alt=basket]{
                margin-right: 10px;
            }
            span{
                font-family: $SanFranciscoRegular;
                font-size: 1em;
                color: $font-color;
            }
        }
    }
}

header{
    font-size: 14px;
    background-color: #f4f4f5;
    .categoru{
        &_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;    
            padding: 0 10%;
            position: relative;
            &::after{
                content: "";
                width: 100%;
                height: 1px;
                background-color: #c1c1c1;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &-left{
                width: 145px;
            }
            &-center{
                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    li{
                        font-size: 1em;
                        font-family: $Corbel;
                        padding: 15px 20px;
                        transition: all 0.15s ease;
                        &:hover{
                            background-color: $bg-color;
                            cursor: pointer;
                            color: $font-color;
                        }
                        &:first-child{
                            background-color: $bg-color;
                            color: $font-color;
                        }
                    }
                }
            }
            &-right{
                width: 145px;
                display: flex;
                justify-content: flex-end;
                span{
                    font-size: 1.15em;
                    font-family: $RobotoMedium;
                }
            }
        }
    }
    .slider{
        background-color: #f4f4f5;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-family: $RobotoMedium;
            color: #515d67;
            font-size: 15em;
        }
    }
}
.container{
    height: 1000px;
    &_filter{
        font-size: 16px;
        width: 300px;
        padding: 10px 3%;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            li{
                position: relative;
                margin-bottom: 1px;
                &:hover > ul{
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                }
                &:hover > span{
                    position: relative;
                    z-index: 2;
                }
                span{
                    padding: 15px 0 15px 10%;
                    width: 100%;
                    display: block;
                    transition: all 0.2s ease;
                    font-size: 1em;
                    font-family: $RobotoRegular;
                    background-color: #ebebeb;
                    &:hover{
                        background-color: #3887f2;
                        color: white;
                    }
                }
                ul{
                    border: 1px solid #ebebeb;
                    transition: top 0.2s, opacity 0.2s ease;
                    position: absolute;
                    top: 0%;
                    opacity: 0;
                    visibility: hidden;
                    width: 109.3%;
                    list-style: none;
                    li{
                        margin-bottom: 0px;
                        width: 80%;
                        padding: 10px 0 10px 20%;
                        font-size: 1em;
                        font-family: $RobotoRegular;
                        background-color: #fff;
                        &:hover{
                            background-color: #ebebeb;
                            &::after{
                                display: none;
                            }
                        }
                        &::before{
                            content: "-";
                            margin-right: 10px;
                            font-family: $RobotoRegular;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 80%;
                            height: 1px;
                            background-color: #ebebeb;
                            bottom: -1px;
                            left: 10%;
                            z-index: 2;
                        }
                        &:last-child{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
            .active{
                background-color: #ebebeb;
                margin-bottom: 0px;
                &::after{
                    display: none;
                }
                span{
                    background-color: #3887f2;
                    color: white;
                }
                ul{
                    position: relative;
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }
        }
    }
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
    
}


@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
   
}


@media (max-width: 576px) {
   
}



@media all and (orientation: landscape) {
    /* Target device in landscape mode */
}

@media all and (orientation: portrait) {
    /* Target device in portrait mode */
}














