body {
   // font-family: $Myriad-Pro-regular; 
    padding: 0px;
    margin: 0px;
}
.header-1{
    background: #272624 url(../img/bacimg.png) no-repeat center top / cover;
    height: 100vh;
    .header-up{
        display: flex;
        justify-content: center;
        .header-up-logo-img{
            img{
                padding: 15px;
                position: relative;
                right: 160px;
                opacity: 0.85;
            }
        }
        .header-up-menu{
            margin: auto 0;
            ul{
                display: flex;
                margin: 0px;
                li{
                    list-style: none;
                    a{
                        color: white;
                        text-decoration: none;
                        padding: 0px 10px 38px 15px;
                        font-family: 'Myriad Pro Light';
                        font-size: 20px;   
                        transition: all 0.2s ease;   
                        border-bottom: 5px solid rgba(255, 255, 255, 0);              
                        &:hover{
                            border-bottom: 5px solid #11749e;
                        }                        
                    }
                    .active{
                        border-bottom: 5px solid #11749e;
                    }
                    
                }
            }
        }
        .header-up-social-icons{
            margin: auto 0px;
            ul{
                display: flex;
                margin: 0px;
                li{
                    list-style: none;
                    a{
                        color: white;
                        text-decoration: none;
                        padding: 0 15px;                                               
                        &:hover{
                           
                        }                        
                    }                    
                }
            }
        }
    }
    .header-up-hr{
        border: .5px solid white;
        margin: 0;
        opacity: 0.3;
    }
    .headre-center{        
        .headre-center-txt{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 35%;
            width: 100%;
            .txt-top{
                font-size: 150px;
                text-align: center;
                color: white;
                text-transform: uppercase;
                letter-spacing: 10px;
                font-family: sans-serif;
                font-weight: 700;
            }
            .txt-buttom{
                font-family: sans-serif;
                margin-left: 20px;
                font-size: 30px;
                letter-spacing: 18.5px;
                text-align: center;
                color: #11749E;
                font-style: inherit;
                text-transform: uppercase;
            }
        }
    }
    .header-buttom-scroll{        
        position: absolute;
        bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        .header-buttom-block{

            .header-buttom-text{
                color: white;
                font-family: sans-serif;
                margin-left: -10px;
                margin-bottom: 30px;
                display: block;
            }
            .header-buttom-scale{
                transition: all 0.2s ease;
                height: 65px;
                border: 1px solid white;
                background-color: transparent;
                width: 65px;
                border-radius: 50%;
                text-align: center;
                text-align-last: center;      
                outline: none;
                &:hover{
                    background-color: white;
                    .header-buttom-scale-down-arrow{
                        color: black;
                    }
                }                
                .header-buttom-scale-down-arrow{
                    font-size: 25px;
                    color: white;
                    text-decoration: none;
                }  

            }
        }        
    }
}
.content-block-1{
    background-color: #11749E;  
    height: 700px;  
    .content-top-text{
        display: flex;        
        justify-content: center;
        .content-top-text-bacground{
            color: white;
            opacity: 0.25;
            font-size: 250px;
            font-family: sans-serif;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .content-top-text-txt{
            position: relative;
            top: 160px;
            color: white;
            font-family: sans-serif;
            font-size: 50px;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
        }
    }
    .content-bottom{
        display: flex;
        width: 1150px;
        margin: 0 auto;
        justify-content: space-between;
        .block{
            .content-bottom-blcok{
                position: relative;
                top: 320px;        
                width: 250px;
                .ellipse{
                    margin: 0 auto;
                    width: 120px;
                    height: 120px;
                    background-color: #2E85AA;
                    border-radius: 50%;
                    .icon{
                        display: block;
                        color: white;
                        margin: auto;
                        position: relative;
                        top: 43px;
                    }
                }
                .txt{
                    h3{
                        text-align: center;
                        color: white;
                        font-family: sans-serif;
                        font-weight: 200;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 16px;
                        text-align: center;
                        color: white;
                        font-family: 'Myriad Pro Light';
                    }
                }
            }
        }
    }
}
.content-block-2{
    .content-block-top{
        display: flex;
        .block-left{
            background-color: #222222;
            width: 50%;
            .txt{
                width: 470px;
                margin: 80px 120px 115px auto;
                color: white;
                font-family: 'Myriad Pro Light';
                span{
                   word-spacing: 7px;
                }
                h3{
                   padding-bottom: 25px;
                   margin-bottom: 0px;
                   text-transform: uppercase;
                   letter-spacing: 4px;
                   font-size: 25px;
                   font-weight: 800;
                }
                p{
                    font-size: 18px;
                }
            }           
        }
        .block-right{
            background: url(../img/content-block-2-top-right.png) no-repeat center top/cover;
            width: 50%;
        }
    }

    .content-block-bottom{
        display: flex;
        .block-left{
            background: url(../img/content-block-2-bottom-left.png) no-repeat center top/cover;
            width: 50%;
        }
        .block-right{
            background-color: #F3F3F3;
            width: 50%;
            .txt{
                font-family: 'Myriad Pro Light';
                width: 470px;
                margin: 80px auto 115px 120px;
                color: black;
                                
                span{
                   word-spacing: 7px;
                }
                h3{
                   padding-bottom: 25px;
                   margin-bottom: 0px;
                   text-transform: uppercase;
                   letter-spacing: 4px;
                   font-size: 25px;
                   font-weight: 800;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}
.content-block-3{
    background-color: white;
    height: 1000px;
    .top{
        font-family: sans-serif;
        width: 100%;
        display: flex;
        justify-content: center;
        .text-b{            
            position: absolute;
            width: 100%;
            text-align: center;                        
            opacity: 0.1;
            font-size: 240px;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 50px;
            font-family: 'Roboto', sans-serif;
        }
        .text{
            text-transform: uppercase;
            font-size: 35px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            position: relative;
            top: 170px;
            letter-spacing: 5px;
        }
    }
    .center{
        display: flex;
        justify-content: center;
        margin-top: 280px;
        .text{
            font-family: sans-serif;
            font-size: 30px;
            letter-spacing: 2px;            
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
        margin-top: 70px;
        .block{
            width: 270px;
            .img{               
                width: 270px;
                height: 280px;
                overflow: hidden;
                transition: all 0.25s ease;  
                img{
                    &:hover{
                        z-index: 1;
                        transform: scale(1.2);
                    } 
                }             
            }
            h3{
               color: #11749E;
               font-family: 'Roboto', sans-serif; 
               text-transform: uppercase;
               text-align: center;
               letter-spacing: 1px;
            }
            p{
                font-family: 'Myriad Pro Light';               
                text-align: center;
                font-size: 19px;                
            }
        }
    }
}
.content-block-4{
    background-color: #11749E;
    display: flex;
    justify-content: center;
    .block{
    width: 560px;
    padding: 110px 15px;
    display: flex;
        .imeges{
            padding: 10px 25px 0px 0px;
        }
        p{
            color: white;
            font-family: 'Myriad Pro Light';
            line-height: 25px;
            width: 440px;
            margin: 0px;
            font-size: 18px;
        }
    }
}
.content-block-5{
    background: #202020 url(../img/bac-img-2.png) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    .content-left{
        .text-block{            
            color: white;
            font-family: 'Myriad Pro Light';
            margin-top: 220px;
            margin-right: 125px;
            h3{
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            p{
                width: 460px;
                line-height: 25px;
                font-size: 19px;
            }
            span{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: sans-serif;
                padding: 10px;
                background-color: #11749E;
                display: block;
                margin: 5px
            }
            .sp-1{               
                margin-top: 65px;
                width: 360px;
            }
            .sp-2{
                width: 400px;
            }
            .sp-3{
                width: 430px;
            }
        }
    }
    .content-right{
        img{
            padding: 100px 0px;
            margin-left: 125px;
        }
    }
}
.content-block-6{
    .content-top{
        .back-text{
            opacity: 0.2;
            font-family: sans-serif;
            font-size: 210px;
            text-transform: uppercase; 
            font-weight: 700;            
            text-align: center;
            display: block;
            position: absolute;
            width: 100%;
        }
        h2{
            text-align: center;
            position: relative;
            top: 100px;
            text-transform: uppercase;
            font-size: 40px;
            font-family: sans-serif;
        }
        .down-text{
            font-family: sans-serif;
            font-size: 30px;
            display: block;
            text-align: center;
            margin-top: 210px;
        }
    }
    .content-bottom{
        display: flex;
        justify-content: center;
        .block{
            margin: 70px 15px 60px 15px;
            .white-block{
                width: 215px;
                height: 50px;
                background-color: white;
                position: relative;
                top: -50px;
                left: 25px;
                h3{
                    text-transform: uppercase;
                    text-align: center;
                    font-family: sans-serif;
                    color: #11749E;
                    font-size: 20px;                
                    margin: 0;
                    padding-top: 20px;
                }
                span{
                    font-family: sans-serif;
                    display: block;
                    text-align: center;
                    padding-top: 5px;                    
                    font-weight: 600;
                    font-size: 15px;
                }
            }           
        }
    }
}
.content-block-7{
    background: #262626 url(../img/bac-img-3.png) no-repeat center center/cover;    
    .content-top{
        display: flex;
        justify-content: center;
        .bacground-text{
            position: absolute;
            opacity: 0.2;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 200px;
            display: block;
            font-weight: 600;
            text-transform: uppercase;            
            margin-top: 130px;
        }
        h2{
            color: white;
            font-family: sans-serif;
            margin-top: 230px;
            font-size: 35px;
            text-transform: uppercase;            
        }
    }
    .content-bottom{
        .row-1{
            text-align: center;
            input{
                background-color: transparent;
                border: 1px solid white;
                font-family: 'Myriad Pro Light';
                font-size: 18px;
                padding: 15px 15px 15px 20px;
                margin: 150px 15px 0px 15px;
                width: 346px;           
                color: white;     
                &::placeholder{
                    color: white;
                }
            }
            input[placeholder="Name"]{

            }
        }
        .row-2{
            text-align: center;
            margin-top: 35px;
            textarea{
                color: white;
                width: 1180px;
                height: 130px;
                background-color: transparent;
                padding: 15px 15px 15px 20px;
                border: 1px solid white;
                font-family: 'Myriad Pro Light';
                font-size: 18px;
                resize: none;
                &::placeholder{
                    color: white;                    
                }
            }
        }
        .row-3{
            text-align: center;
            margin-top: 40px;
            button{
                transition: all 0.2s ease;
                background-color: #11749E;
                border: 5px solid #11749E;
                font-size: 20px;
                color: white;
                text-transform: uppercase;
                font-family: sans-serif;
                padding: 15px 55px;
                outline: none;
                margin-bottom: 90px;
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}
.footer{
    height: 330px;
    background-color: #282828;
    iframe{
        opacity: 0.6;
    }
}
.footer-1{
    height: 110px;
    background-color: #222222;
    color: white;
    font-family: 'Myriad Pro Light';
    display: flex;
    justify-content: space-around;    
    .left{
        margin: auto 0;
    }
    .right{
        margin: auto 0;
    }
}




@media (max-width: 1250px) {
    .header-1{
        .header-up{
            .header-up-logo-img{
                img{
                    right: 0px;
                    width: 50%;
                }
            }
            .header-up-menu{
                ul{
                    li{
                        a{
                            padding-bottom: 30px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .headre-center{
            .headre-center-txt{
                .txt-top{
                    font-size: 100px;
                }
                .txt-buttom{
                    font-size: 14px;
                }
            }
        }
        .header-buttom-scroll{
            .header-buttom-block{
                .header-buttom-text{
                    margin-bottom: 12px;
                    margin-left: -17px;
                }
                .header-buttom-scale{
                    height: 50px;
                    width: 50px;
                }
                .header-buttom-scale-down-arrow{
                    font-size: 23px;
                }
            }
        }
    }
    .content-block-1{
        height: 600px;
        .content-top-text{
            .content-top-text-bacground{
                font-size: 190px;
            }
            .content-top-text-txt{
                top: 135px;
                font-size: 36px;
            }
        }
        .content-bottom{
            width: 800px;
            .block{
                .content-bottom-blcok{
                    top: 265px;
                    width: 181px;
                    .ellipse{
                        width: 90px;
                        height: 90px;
                        .icon{
                            width: 26%;
                            top: 35px;
                        }
                    }
                    .txt{
                        h3{
                            font-size: 14px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .content-block-2{
        .content-block-top{
            .block-left{
                .txt{
                    width: 320px;
                    margin-right: 95px;
                    span{
                        word-spacing: 4px;
                        font-size: 12px;
                    }
                    h3{
                        padding-bottom: 0px;
                        font-size: 16px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }            
        }
        .content-block-bottom{
            .block-right{
                .txt{
                    width: 320px;
                    margin-left: 95px;
                    span{
                        word-spacing: 4px;
                        font-size: 12px;
                    }
                    h3{
                        padding-bottom: 0px;
                        font-size: 16px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .content-block-3{
        height: 795px;
        .top{
            .text-b{
                font-size: 180px;
                margin-top: 34px;
            }
            .text{
                font-size: 30px;
                top: 122px;
            }
        }
        .center{
            margin-top: 230px;
            font-size: 25px;
        }
        .bottom{
            margin-top: 40px;
            width: 880px;
            .block{
                width: 200px;
                .img{
                    width: 200px;
                    height: 207px;
                }
                h3{
                    font-size: 15px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
    .content-block-4{
        .block{
            padding-top: 80px;
            padding-bottom: 80px;
            width: 415px;
            .imeges{
                img{
                    width: 47px;
                }
            }
            p{
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
    .content-block-5{
        .content-left{
            .text-block{
                margin-top: 200px;
                margin-right: 20px;
                h3{
                    font-size: 14px;
                }
                p{
                    width: 365px;
                    line-height: 19px;
                    font-size: 14px;
                }
                .sp-1{
                    margin-top: 30px;
                    width: 270px;
                    font-size: 12px;
                }
                .sp-2{
                    width: 315px;
                    font-size: 12px;
                }
                .sp-3{
                    width: 360px;
                    font-size: 12px;
                }
            }
        }
        .content-right{
            img{
                width: 300px;
            }
        }
    }
    .content-block-6{
        .content-top{
            .back-text{
                font-size: 160px;
            }
            h2{
                font-size: 30px;
                top: 78px;
            }
            .down-text{
                margin-top: 175px;
                font-size: 25px;
            }
        }
        .content-bottom{
            .block{
                img{
                    width: 190px;
                }
                .white-block{
                    top: -40px;
                    width: 140px;
                    height: 36px;
                    h3{
                        font-size: 15px;
                        padding-top: 15px;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .content-block-7{
        .content-top{
            .bacground-text{
                font-size: 160px;
                margin-top: 35px;
            }
            h2{
                font-size: 27px; 
                margin-top: 118px;
            }
        }
        .content-bottom{
            .row-1{
                input{
                    width: 230px;
                    font-size: 14px;
                    margin-top: 95px;
                }
            }
            .row-2{
                margin-top: 25px;
                textarea{
                    height: 100px;
                    width: 835px;
                    font-size: 14px;
                }
            }
            .row-3{
                margin-top: 27px;
                button{
                    font-size: 15px;
                    padding: 10px 35px;
                    margin-bottom: 70px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    
}


@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
   
}


@media (max-width: 576px) {
   
}