body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}

.block_left {
  width: 45%;
}
.block_left .blok-img img {
  transition: all 0.3s ease;
  margin: 0 auto;
  display: block;
  width: 200px;
  margin-top: 50px;
}
.block_left .blok-img img:hover {
  transform: scale(1.2);
}
.block_left .blok-img h1, .block_left .blok-img h3 {
  text-align: center;
  text-transform: uppercase;
}
.block_left .blok-img h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.block_left .blok-img h1 .name {
  font-weight: normal;
}
.block_left .profile .profile-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block_left .profile .profile-top img {
  width: 70px;
  height: 70px;
}
.block_left .profile .profile-top h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #3d6cb0;
  margin-left: 15px;
}
.block_left .profile .profile-top .hr {
  background-color: #3d6cb0;
  width: 200px;
  height: 4px;
  margin-left: 15px;
}
.block_left .profile p {
  width: 450px;
  font-size: 16px;
  margin: 0 auto;
}
.block_left .contact .contact-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.block_left .contact .contact-top img {
  width: 70px;
  height: 70px;
}
.block_left .contact .contact-top h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #3d6cb0;
  margin-left: 15px;
}
.block_left .contact .contact-top .hr {
  background-color: #3d6cb0;
  width: 200px;
  height: 4px;
  margin-left: 15px;
}
.block_left .contact .info {
  display: flex;
  justify-content: center;
}
.block_left .contact .info .block {
  width: 470px;
  margin: 15px 0px;
  display: flex;
}
.block_left .contact .info .block .left {
  text-transform: uppercase;
  color: #3d6cb0;
  font-weight: 700;
  display: block;
  width: 150px;
}
.block_left .contact .info .block .right {
  width: 300px;
  text-align: left;
  display: block;
}
.block_left .scills {
  margin-bottom: 50px;
}
.block_left .scills .scills-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.block_left .scills .scills-top img {
  width: 70px;
  height: 70px;
}
.block_left .scills .scills-top h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #3d6cb0;
  margin-left: 15px;
}
.block_left .scills .scills-top .hr {
  background-color: #3d6cb0;
  width: 240px;
  height: 4px;
  margin-left: 15px;
}
.block_left .scills .siklls-content h3 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
}
.block_left .scills .siklls-content .boll {
  display: flex;
  justify-content: center;
}
.block_left .scills .siklls-content .boll .bl {
  width: 13px;
  height: 13px;
  background-color: #3d6cb0;
  border-radius: 50%;
  margin: 0 3px;
  border: #3d6cb0 solid 2px;
}
.block_left .scills .siklls-content .boll .b11, .block_left .scills .siklls-content .boll .b12, .block_left .scills .siklls-content .boll .b13 {
  background-color: white;
}
.block_left .scills .siklls-content .teamwork .b11 {
  background-color: #3d6cb0;
}
.block_left .scills .siklls-content .innovate .b11, .block_left .scills .siklls-content .innovate .b12, .block_left .scills .siklls-content .innovate .b7, .block_left .scills .siklls-content .innovate .b8, .block_left .scills .siklls-content .innovate .b9, .block_left .scills .siklls-content .innovate .b10 {
  background-color: white;
}
.block_left .scills .siklls-content .communication .b11, .block_left .scills .siklls-content .communication .b12 {
  background-color: #3d6cb0;
}

.block-right {
  width: 55%;
  height: 100px;
}
.block-right .education {
  margin: 0 auto;
  margin-bottom: 50px;
}
.block-right .education .education-content {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 50px;
}
.block-right .education .education-content img {
  width: 70px;
  height: 70px;
}
.block-right .education .education-content h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #3d6cb0;
  margin-left: 15px;
}
.block-right .education .education-content .hr {
  background-color: #3d6cb0;
  width: 500px;
  height: 4px;
  margin-left: 15px;
}
.block-right .education .block h2 {
  position: relative;
  margin-left: 50px;
  font-size: 18px;
}
.block-right .education .block h2 .top-left {
  text-transform: uppercase;
  color: #3d6cb0;
}
.block-right .education .block h2 .top-right {
  font-weight: normal;
  padding-left: 20px;
}
.block-right .education .block h2 .bottom {
  padding-top: 10px;
  display: block;
  font-weight: normal;
  text-transform: uppercase;
}
.block-right .education .block h2::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: -30px;
  top: 7px;
}
.block-right .education .block p {
  width: 700px;
  margin-left: 50px;
  font-size: 14px;
}
.block-right .experience {
  margin: 0 auto;
  margin-bottom: 50px;
}
.block-right .experience .experience-content {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 50px;
}
.block-right .experience .experience-content img {
  width: 70px;
  height: 70px;
}
.block-right .experience .experience-content h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #3d6cb0;
  margin-left: 15px;
}
.block-right .experience .experience-content .hr {
  background-color: #3d6cb0;
  width: 500px;
  height: 4px;
  margin-left: 15px;
}
.block-right .experience .block h2 {
  position: relative;
  margin-left: 50px;
  font-size: 18px;
}
.block-right .experience .block h2 .top-left {
  text-transform: uppercase;
}
.block-right .experience .block h2 .top-right {
  font-weight: normal;
  padding-left: 20px;
}
.block-right .experience .block h2 .bottom {
  padding-top: 10px;
  display: block;
  font-weight: normal;
  text-transform: uppercase;
}
.block-right .experience .block h2::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: -30px;
  top: 7px;
}
.block-right .experience .block p {
  width: 700px;
  margin-left: 50px;
  font-size: 14px;
}
.block-right .software {
  margin: 0 auto;
  margin-bottom: 50px;
}
.block-right .software .software-top {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 35px;
}
.block-right .software .software-top img {
  width: 70px;
  height: 70px;
}
.block-right .software .software-top h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #3d6cb0;
  margin-left: 15px;
}
.block-right .software .software-top .hr {
  background-color: #3d6cb0;
  width: 500px;
  height: 4px;
  margin-left: 15px;
}
.block-right .software .content {
  display: flex;
}
.block-right .software .content .left-content, .block-right .software .content .right-content {
  width: 50%;
}
.block-right .software .content .left-content .block, .block-right .software .content .right-content .block {
  margin: 10px 0;
  margin-left: 10px;
}
.block-right .software .content .left-content .block span, .block-right .software .content .right-content .block span {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  display: block;
}
.block-right .software .content .left-content .block .line, .block-right .software .content .right-content .block .line {
  width: 80%;
  height: 15px;
  background-color: #e6e6e6;
}
.block-right .software .content .left-content .block .line .size, .block-right .software .content .right-content .block .line .size {
  height: 100%;
  width: 100%;
  background-color: #3d6cb0;
}
.block-right .software .content .left-content .block .line .illustrator, .block-right .software .content .right-content .block .line .illustrator {
  width: 70%;
}
.block-right .software .content .left-content .block .line .indesign, .block-right .software .content .right-content .block .line .indesign {
  width: 86%;
}
.block-right .software .content .right-content {
  width: 50%;
}
.block-right .software .content .right-content .block .line .DREAMWEAVER {
  width: 50%;
}
.block-right .software .content .right-content .block .line .AFTER_EFFECTS {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
