@font-face {
    font-family: "SFUIDisplay-Regular"; 
   src: url("../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot"); 
   src: url("../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.woff") format("woff"), 
   url("../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}

@font-face {
    font-family: "SFUIDisplay-Light"; 
   src: url("../fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot"); 
   src: url("../fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"),
   url("../fonts/SFUIDisplay-Light/SFUIDisplay-Light.woff") format("woff"), 
   url("../fonts/SFUIDisplay-Light/SFUIDisplay-Light.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}
@font-face {
    font-family: "ThirstyScriptRegular"; 
   src: url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.eot"); 
   src: url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.woff") format("woff"), 
   url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}


