@keyframes bounce {
  from,
    10%,
    26.5%,
    40%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  20%,
    21.5% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  35% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  45% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); }
  50% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  1.6%,
    3.3% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  5%,
    8.3%,
    11.6%,
    15% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  6.6%,
    10%,
    13.3% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  17.3% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 3deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
body {
  font-family: "SFUIDisplay-Regular";
  border: 0px;
  padding: 0px;
  margin: 0px; }

.header {
  background: #333332 url(../img/header/back-img.png) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  display: flex; }
  .header .left {
    width: 50%; }
    .header .left .black-backcround {
      transition: all 0.3s ease;
      background-color: rgba(0, 0, 0, 0.55);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 60px black;
      width: 620px;
      height: 555px;
      border-radius: 24px;
      color: white;
      margin: auto;
      position: relative;
      top: 50vh;
      transform: translateY(-50%); }
      .header .left .black-backcround .position-left {
        transform: translateY(-50%);
        position: relative;
        top: 50%; }
        .header .left .black-backcround .position-left .block-top h1 {
          margin: 0px;
          text-align: center;
          font-weight: 100;
          font-size: 40px;
          text-shadow: 0 0 30px black, 0 0 50px black, 0 0 50px black, 0 0 60px black; }
        .header .left .black-backcround .position-left .block-top span {
          display: block;
          text-align: center;
          color: #039861;
          font-size: 22px;
          margin-top: 25px;
          margin-bottom: 15px;
          text-shadow: 0 0 30px black, 0 0 50px black, 0 0 50px black, 0 0 60px black; }
        .header .left .black-backcround .position-left .block-time #clockdiv {
          font-family: "SFUIDisplay-Regular";
          color: #fff;
          display: flex;
          justify-content: center;
          font-size: 38px;
          margin-bottom: 20px; }
          .header .left .black-backcround .position-left .block-time #clockdiv div span {
            padding: 7px;
            border-radius: 22px;
            background: rgba(85, 85, 85, 0.4);
            display: inline-block;
            margin: 0px 5px; }
        .header .left .black-backcround .position-left .block-bottom {
          display: flex;
          justify-content: center; }
          .header .left .black-backcround .position-left .block-bottom span {
            width: 370px;
            display: block;
            text-align: center;
            font-size: 16px;
            text-shadow: 0 0 30px black, 0 0 50px black, 0 0 50px black, 0 0 60px black;
            font-family: "SFUIDisplay-Light"; }
        .header .left .black-backcround .position-left .block-button {
          display: flex;
          justify-content: space-between;
          width: 65%;
          margin: 30px auto 0px auto; }
          .header .left .black-backcround .position-left .block-button .buy {
            transition: all 0.3s;
            padding: 12px 22px;
            border: 3px solid #D00312;
            color: white;
            background-color: #D00312;
            border-radius: 28px;
            font-size: 22px;
            outline: none;
            animation: tada 12s infinite 3s; }
            .header .left .black-backcround .position-left .block-button .buy:hover {
              background-color: rgba(0, 0, 0, 0); }
          .header .left .black-backcround .position-left .block-button .info {
            transition: all 0.3s;
            padding: 12px 22px;
            color: white;
            background-color: #07784C;
            border-radius: 28px;
            border: 3px solid #07784C;
            font-size: 22px;
            outline: none; }
            .header .left .black-backcround .position-left .block-button .info:hover {
              background-color: rgba(0, 0, 0, 0); }
  .header .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .right .position-right {
      position: relative; }
      .header .right .position-right h1 {
        color: white;
        text-shadow: 0 0 30px black, 0 0 50px black, 0 0 50px black, 0 0 60px black;
        font-size: 28px;
        font-weight: 100;
        width: 650px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0px; }
      .header .right .position-right .img-min img {
        margin: 0 auto;
        display: block;
        z-index: 0; }
  .header .down-arrow {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    animation: bounce 4s infinite; }
    .header .down-arrow img {
      width: 40px; }

.content-block-1 {
  background-color: white;
  height: 770px; }
  .content-block-1 .top-txt h1 {
    font-weight: 100;
    font-family: "SFUIDisplay-Regular";
    font-size: 30px;
    text-align: center;
    padding: 65px 0px 0px 0px;
    margin: 0; }
    .content-block-1 .top-txt h1 .left {
      position: relative; }
      .content-block-1 .top-txt h1 .left::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 55px;
        position: absolute;
        left: -35px;
        top: -14px;
        border-left: 4px solid #36a9d0;
        border-top: 4px solid #36a9d0;
        border-bottom: 4px solid #36a9d0; }
    .content-block-1 .top-txt h1 .right {
      color: #2194BB;
      position: relative; }
      .content-block-1 .top-txt h1 .right::after {
        content: '';
        display: inline-block;
        width: 25px;
        height: 55px;
        position: absolute;
        right: -35px;
        top: -14px;
        border-right: 4px solid #36a9d0;
        border-top: 4px solid #36a9d0;
        border-bottom: 4px solid #36a9d0; }
  .content-block-1 .center-content {
    display: flex; }
    .content-block-1 .center-content .left {
      width: 50%; }
      .content-block-1 .center-content .left .movie {
        display: flex;
        justify-content: center;
        position: relative;
        top: 105px; }
    .content-block-1 .center-content .right {
      width: 50%; }
      .content-block-1 .center-content .right .info-block {
        position: relative;
        top: 60px;
        width: 550px;
        margin: 0 auto; }
        .content-block-1 .center-content .right .info-block .info .row {
          display: flex; }
          .content-block-1 .center-content .right .info-block .info .row img {
            width: 35px;
            height: 85px; }
          .content-block-1 .center-content .right .info-block .info .row img[alt="circle-notch"], .content-block-1 .center-content .right .info-block .info .row img[alt="clock"] {
            width: 40px; }
          .content-block-1 .center-content .right .info-block .info .row h2 {
            color: #2194BB;
            font-weight: 100;
            margin-left: 15px;
            font-size: 24px;
            margin-bottom: 0;
            margin-top: 25px; }
            .content-block-1 .center-content .right .info-block .info .row h2 .bottom {
              margin-left: 20px; }
        .content-block-1 .center-content .right .info-block .info p {
          font-family: "SFUIDisplay-Light";
          font-size: 18.5px;
          margin-left: 18px; }

.content-block-2 {
  background: #272424 url(../img/content-block-2/back-img.png) no-repeat center center/cover; }
  .content-block-2 .top-txt h1 {
    margin: 0;
    color: white;
    font-weight: 100;
    text-align: center;
    font-family: "SFUIDisplay-Regular";
    padding-top: 70px; }
    .content-block-2 .top-txt h1 .left {
      position: relative; }
      .content-block-2 .top-txt h1 .left::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 55px;
        position: absolute;
        left: -35px;
        top: -14px;
        border-left: 4px solid #7f7f7f;
        border-top: 4px solid #7f7f7f;
        border-bottom: 4px solid #7f7f7f; }
    .content-block-2 .top-txt h1 .right {
      color: #2194BB;
      position: relative; }
      .content-block-2 .top-txt h1 .right::after {
        content: '';
        display: inline-block;
        width: 25px;
        height: 55px;
        position: absolute;
        right: -35px;
        top: -14px;
        border-right: 4px solid #7f7f7f;
        border-top: 4px solid #7f7f7f;
        border-bottom: 4px solid #7f7f7f; }
  .content-block-2 .top-txt .txt-1 {
    width: 150px;
    margin: 0 auto;
    margin-top: 100px; }
    .content-block-2 .top-txt .txt-1 h3 {
      font-size: 22px;
      color: white;
      font-family: "SFUIDisplay-Light";
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      margin: 0; }
  .content-block-2 .center-block {
    position: relative;
    top: 50px;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around; }
    .content-block-2 .center-block .white-border div {
      position: relative; }
      .content-block-2 .center-block .white-border div img {
        transition: 0.3s;
        transform: scale(0.85); }
        .content-block-2 .center-block .white-border div img:hover {
          transform: scale(0.95); }
  .content-block-2 .bottom-content {
    width: 1435px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 70px; }
    .content-block-2 .bottom-content .slider .slider-block {
      outline: none; }

.content-block-3 {
  background-color: white; }
  .content-block-3 .top-txt {
    text-align: center;
    padding: 50px 0px 20px 0px; }
    .content-block-3 .top-txt h1 {
      text-transform: uppercase;
      margin: 0;
      font-family: "SFUIDisplay-Regular";
      font-weight: 100; }
      .content-block-3 .top-txt h1 .right {
        color: #2194BB; }
    .content-block-3 .top-txt p {
      margin-top: 20px;
      color: #2194BB; }
  .content-block-3 .top-block-info {
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between; }
    .content-block-3 .top-block-info .info-bl {
      width: 400px; }
      .content-block-3 .top-block-info .info-bl img {
        width: 90px;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        .content-block-3 .top-block-info .info-bl img[alt="box-full"] {
          width: 110px;
          padding-top: 5px; }
      .content-block-3 .top-block-info .info-bl h3 {
        color: #2194BB;
        font-weight: 100;
        text-align: center;
        font-family: "SFUIDisplay-Regular";
        font-size: 25px; }
      .content-block-3 .top-block-info .info-bl p {
        text-align: center;
        font-family: "SFUIDisplay-Light";
        font-size: 18px; }
  .content-block-3 .bottom-block-info {
    display: flex;
    justify-content: center;
    padding-top: 70px; }
    .content-block-3 .bottom-block-info .right, .content-block-3 .bottom-block-info .left {
      width: 600px;
      margin: 0px 30px 70px 30px; }
      .content-block-3 .bottom-block-info .right img, .content-block-3 .bottom-block-info .left img {
        width: 110px;
        height: 110px;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        .content-block-3 .bottom-block-info .right img[alt="truck"], .content-block-3 .bottom-block-info .left img[alt="truck"] {
          height: 95px;
          margin-top: 15px; }
      .content-block-3 .bottom-block-info .right h3, .content-block-3 .bottom-block-info .left h3 {
        text-align: center;
        font-size: 25px;
        font-family: "SFUIDisplay-Regular";
        font-weight: 100;
        color: #01be50; }
      .content-block-3 .bottom-block-info .right p, .content-block-3 .bottom-block-info .left p {
        font-size: 18px;
        font-family: "SFUIDisplay-Light";
        position: relative;
        margin: 10px 0px; }
        .content-block-3 .bottom-block-info .right p::before, .content-block-3 .bottom-block-info .left p::before {
          content: '';
          display: block;
          width: 6.5px;
          height: 6.5px;
          background-color: black;
          border-radius: 100%;
          position: absolute;
          top: 6px;
          left: -15px; }
      .content-block-3 .bottom-block-info .right .down, .content-block-3 .bottom-block-info .left .down {
        margin-left: 15px; }

.content-block-4 {
  background: url(../img/content-block-4/background.png) no-repeat center center/cover; }
  .content-block-4 .top h1 {
    font-weight: 100;
    text-align: center;
    margin: 0;
    color: white;
    padding-top: 60px;
    font-size: 28px; }
    .content-block-4 .top h1 .span-top .right {
      color: #2194BB; }
    .content-block-4 .top h1 .span-bottom {
      margin-top: 30px;
      display: block; }
      .content-block-4 .top h1 .span-bottom .right {
        font-size: 35px;
        font-weight: 600; }
  .content-block-4 .content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto; }
    .content-block-4 .content .right .buy {
      width: 600px;
      border: 2px solid white;
      border-radius: 15px;
      margin-top: 50px;
      margin-bottom: 100px; }
      .content-block-4 .content .right .buy h1 {
        font-weight: 100;
        text-align: center;
        margin: 0;
        color: white;
        padding-top: 60px;
        font-size: 24px; }
        .content-block-4 .content .right .buy h1 .price-uah {
          color: #2194BB;
          font-weight: 600;
          font-size: 28px; }
        .content-block-4 .content .right .buy h1 .new-price {
          color: #2194BB; }
        .content-block-4 .content .right .buy h1 .new-price-uah {
          color: #2194BB;
          font-weight: 600;
          font-size: 28px; }
      .content-block-4 .content .right .buy hr {
        width: 300px; }
      .content-block-4 .content .right .buy form {
        margin-top: 60px; }
        .content-block-4 .content .right .buy form input, .content-block-4 .content .right .buy form select {
          margin: 0 auto;
          display: block;
          padding: 10px 10px;
          border-radius: 16px;
          border: 0;
          outline: none;
          box-shadow: 3px 3px 57px -11px #000000 inset; }
        .content-block-4 .content .right .buy form input {
          width: 280px; }
          .content-block-4 .content .right .buy form input[placeholder] {
            text-align: center;
            font-family: "SFUIDisplay-Regular";
            font-size: 18px; }
        .content-block-4 .content .right .buy form .txt {
          position: relative; }
          .content-block-4 .content .right .buy form .txt .spantxt {
            color: black;
            left: 172px;
            top: 11px;
            position: absolute;
            font-size: 18px; }
        .content-block-4 .content .right .buy form select {
          width: 300px;
          font-size: 18px;
          padding-left: 70px;
          font-family: "SFUIDisplay-Regular"; }
        .content-block-4 .content .right .buy form button {
          transition: all 0.3s;
          background: linear-gradient(to bottom right, #D66205, #B03200);
          border: none;
          border-radius: 35px;
          width: 315px;
          height: 60px;
          color: white;
          font-size: 21px;
          text-transform: uppercase;
          margin: 0 auto;
          display: block; }
          .content-block-4 .content .right .buy form button:hover {
            opacity: 0.75; }
      .content-block-4 .content .right .buy .time-txt {
        display: block;
        text-align: center;
        color: #039861;
        font-size: 22px;
        margin-top: 25px;
        margin-bottom: 15px;
        text-shadow: 0 0 30px black, 0 0 50px black, 0 0 50px black, 0 0 60px black; }
      .content-block-4 .content .right .buy .block-time #clockdivtwo {
        font-family: "SFUIDisplay-Regular";
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 38px;
        margin-bottom: 20px;
        position: relative; }
        .content-block-4 .content .right .buy .block-time #clockdivtwo div span {
          padding: 7px;
          border-radius: 22px;
          background: rgba(85, 85, 85, 0.4);
          display: inline-block;
          margin: 0px 5px; }
      .content-block-4 .content .right .buy .bottom-text {
        display: flex;
        justify-content: center; }
        .content-block-4 .content .right .buy .bottom-text span {
          color: white;
          text-transform: uppercase;
          margin: 0 8px 70px 8px; }

.content-block-5 {
  background-color: white; }
  .content-block-5 .top h1 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px; }
    .content-block-5 .top h1 .right {
      color: #2194BB; }
  .content-block-5 .content .comment {
    width: 1000px;
    display: flex;
    margin: 0px auto;
    padding: 30px 0px;
    justify-content: space-around;
    align-items: center; }
    .content-block-5 .content .comment .right {
      width: 650px; }
      .content-block-5 .content .comment .right h3 {
        font-size: 22px;
        margin: 0; }
      .content-block-5 .content .comment .right p {
        font-size: 18px; }

@media (max-width: 1500px) {
  .header .left .black-backcround {
    width: 450px;
    height: 450px; }
    .header .left .black-backcround .position-left .block-top h1 {
      font-size: 30px; }
    .header .left .black-backcround .position-left .block-top span {
      font-size: 18px;
      margin-top: 12px; }
    .header .left .black-backcround .position-left .block-time #clockdiv {
      font-size: 30px;
      margin-bottom: 16px; }
    .header .left .black-backcround .position-left .block-bottom span {
      width: 340px;
      font-size: 12px; }
    .header .left .black-backcround .position-left .block-button {
      width: 75%; }
      .header .left .black-backcround .position-left .block-button a .buy, .header .left .black-backcround .position-left .block-button a .info {
        padding: 10px 22px;
        font-size: 18px; }
  .header .right .position-right h1 {
    width: 520px;
    font-size: 20px; }
  .header .right .position-right .img-min img {
    width: 500px; }
  .header .down-arrow img {
    width: 30px; }

  .content-block-1 {
    height: 640px; }
    .content-block-1 .top-txt h1 {
      font-size: 22px;
      padding-top: 50px; }
      .content-block-1 .top-txt h1 .left::before {
        left: -30px;
        top: -14px;
        height: 47px; }
      .content-block-1 .top-txt h1 .right::after {
        right: -30px;
        top: -14px;
        height: 47px; }
    .content-block-1 .center-content .left .movie iframe {
      width: 530px;
      height: 315px; }
    .content-block-1 .center-content .right .info-block {
      top: 45px; }
      .content-block-1 .center-content .right .info-block .info .row img[alt="tint"] {
        width: 23px;
        height: 67px; }
      .content-block-1 .center-content .right .info-block .info .row img[alt="circle-notch"] {
        width: 25px;
        height: 67px; }
      .content-block-1 .center-content .right .info-block .info .row img[alt="clock"] {
        width: 24px;
        height: 67px; }
      .content-block-1 .center-content .right .info-block .info .row h2 {
        font-size: 18px; }
      .content-block-1 .center-content .right .info-block .info p {
        font-size: 14px; }

  .content-block-2 .top-txt h1 {
    font-size: 22px;
    padding-top: 50px; }
    .content-block-2 .top-txt h1 .left::before {
      left: -30px;
      top: -14px;
      height: 47px; }
    .content-block-2 .top-txt h1 .right::after {
      right: -30px;
      top: -14px;
      height: 47px; }
  .content-block-2 .top-txt .txt-1 {
    margin-top: 70px;
    width: 125px; }
    .content-block-2 .top-txt .txt-1 h3 {
      font-size: 18px; }
  .content-block-2 .center-block {
    width: 88%;
    top: 25px; }
    .content-block-2 .center-block .white-border .img-1 img, .content-block-2 .center-block .white-border .img-2 img, .content-block-2 .center-block .white-border .img-3 img, .content-block-2 .center-block .white-border .img-4 img {
      width: 230px; }
  .content-block-2 .bottom-content {
    width: 1100px; }

  .content-block-3 .top-txt {
    padding-top: 40px;
    padding-bottom: 10px; }
    .content-block-3 .top-txt h1 {
      font-size: 22px; }
    .content-block-3 .top-txt p {
      margin-top: 16px;
      font-size: 14px; }
  .content-block-3 .top-block-info .info-bl {
    width: 265px; }
    .content-block-3 .top-block-info .info-bl img {
      width: 70px; }
      .content-block-3 .top-block-info .info-bl img[alt="box-full"] {
        width: 100px;
        padding-top: 0px; }
    .content-block-3 .top-block-info .info-bl h3 {
      font-size: 18px; }
    .content-block-3 .top-block-info .info-bl p {
      font-size: 13px; }
  .content-block-3 .bottom-block-info {
    padding-top: 30px; }
    .content-block-3 .bottom-block-info .left, .content-block-3 .bottom-block-info .right {
      width: 350px; }
      .content-block-3 .bottom-block-info .left img, .content-block-3 .bottom-block-info .right img {
        width: 93px; }
      .content-block-3 .bottom-block-info .left h3, .content-block-3 .bottom-block-info .right h3 {
        font-size: 18px; }
      .content-block-3 .bottom-block-info .left p, .content-block-3 .bottom-block-info .right p {
        font-size: 13px; }

  .content-block-4 .top h1 {
    padding-top: 45px;
    font-size: 20px; }
    .content-block-4 .top h1 .span-bottom {
      margin-top: 15px; }
      .content-block-4 .top h1 .span-bottom .right {
        font-size: 30px; }
  .content-block-4 .content .left {
    display: flex;
    align-items: center;
    justify-content: center; }
    .content-block-4 .content .left img {
      width: 500px;
      height: 460px; }
  .content-block-4 .content .right .buy {
    width: 500px; }
    .content-block-4 .content .right .buy h1 {
      font-size: 16px; }
      .content-block-4 .content .right .buy h1 .price-uah, .content-block-4 .content .right .buy h1 .new-price-uah {
        font-size: 20px; }
    .content-block-4 .content .right .buy .hr {
      width: 280px; }
    .content-block-4 .content .right .buy form {
      margin-top: 25px; }
      .content-block-4 .content .right .buy form input {
        font-size: 16px;
        padding: 8px 5px; }
      .content-block-4 .content .right .buy form .txt .spantxt {
        left: 125px;
        top: 9px;
        font-size: 16px; }
      .content-block-4 .content .right .buy form select {
        font-size: 16px;
        padding: 8px 10px;
        padding-left: 66px; }
      .content-block-4 .content .right .buy form button {
        font-size: 18px;
        width: 294px;
        height: 50px; }
    .content-block-4 .content .right .buy .time-txt {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .content-block-4 .content .right .buy .block-time #clockdivtwo {
      font-size: 30px; }
    .content-block-4 .content .right .buy .bottom-text span {
      font-size: 12px; }

  .content-block-5 .top h1 {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 15px; }
  .content-block-5 .content .comment {
    width: 800px;
    padding: 15px 0px; }
    .content-block-5 .content .comment .left img {
      width: 170px; }
    .content-block-5 .content .comment .right {
      width: 580px; }
      .content-block-5 .content .comment .right h3 {
        font-size: 18px; }
      .content-block-5 .content .comment .right p {
        font-size: 14px; } }
@media (max-width: 1200px) {
  .header .left .black-backcround {
    width: 340px;
    height: 325px; }
    .header .left .black-backcround .position-left .block-top h1 {
      font-size: 25px; }
    .header .left .black-backcround .position-left .block-top span {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 10px; }
    .header .left .black-backcround .position-left .block-time #clockdiv {
      font-size: 22px;
      margin-bottom: 10px; }
    .header .left .black-backcround .position-left .block-bottom span {
      width: 210px;
      font-size: 10px; }
    .header .left .black-backcround .position-left .block-button {
      width: 70%;
      margin-top: 10px; }
      .header .left .black-backcround .position-left .block-button a .buy, .header .left .black-backcround .position-left .block-button a .info {
        padding: 7px 18px;
        font-size: 13px; }
  .header .right .position-right h1 {
    width: 300px;
    font-size: 15px; }
  .header .right .position-right .img-min img {
    width: 425px; }
  .header .down-arrow img {
    width: 20px; }

  .content-block-1 {
    height: 450px; }
    .content-block-1 .top-txt h1 {
      font-size: 18px;
      padding-top: 35px; }
      .content-block-1 .top-txt h1 .left::before {
        left: -22px;
        top: -12px;
        height: 38px; }
      .content-block-1 .top-txt h1 .right::after {
        right: -22px;
        top: -12px;
        height: 38px; }
    .content-block-1 .center-content .left .movie {
      top: 63px; }
      .content-block-1 .center-content .left .movie iframe {
        width: 430px;
        height: 230px; }
    .content-block-1 .center-content .right .info-block {
      top: 30px;
      width: 485px; }
      .content-block-1 .center-content .right .info-block .info .row img[alt="tint"] {
        width: 16px;
        height: 67px; }
      .content-block-1 .center-content .right .info-block .info .row img[alt="circle-notch"] {
        width: 17px;
        height: 67px; }
      .content-block-1 .center-content .right .info-block .info .row img[alt="clock"] {
        width: 16.5px;
        height: 67px; }
      .content-block-1 .center-content .right .info-block .info .row h2 {
        font-size: 14px;
        margin-left: 8px; }
      .content-block-1 .center-content .right .info-block .info p {
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 0px; }

  .content-block-2 .top-txt h1 {
    font-size: 18px;
    padding-top: 35px; }
    .content-block-2 .top-txt h1 .left::before {
      left: -22px;
      top: -12px;
      height: 38px; }
    .content-block-2 .top-txt h1 .right::after {
      right: -22px;
      top: -12px;
      height: 38px; }
  .content-block-2 .top-txt .txt-1 {
    margin-top: 50px;
    width: 84px; }
    .content-block-2 .top-txt .txt-1 h3 {
      font-size: 12px; }
  .content-block-2 .center-block {
    width: 100%;
    top: 20px; }
    .content-block-2 .center-block .white-border .img-1 img, .content-block-2 .center-block .white-border .img-2 img, .content-block-2 .center-block .white-border .img-3 img, .content-block-2 .center-block .white-border .img-4 img {
      width: 180px; }
  .content-block-2 .bottom-content {
    width: 850px;
    margin-top: 30px;
    padding-bottom: 35px; }
    .content-block-2 .bottom-content img {
      width: 500px;
      height: 352px; }

  .content-block-3 .top-txt {
    padding-top: 30px;
    padding-bottom: 0px; }
    .content-block-3 .top-txt h1 {
      font-size: 18px; }
    .content-block-3 .top-txt p {
      margin-top: 8px;
      font-size: 11px; }
  .content-block-3 .top-block-info {
    width: 100%;
    justify-content: space-around; }
    .content-block-3 .top-block-info .info-bl {
      width: 220px; }
      .content-block-3 .top-block-info .info-bl img {
        width: 55px; }
        .content-block-3 .top-block-info .info-bl img[alt="box-full"] {
          width: 73px;
          padding-top: 0px; }
      .content-block-3 .top-block-info .info-bl h3 {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 5px; }
      .content-block-3 .top-block-info .info-bl p {
        font-size: 11px; }
  .content-block-3 .bottom-block-info {
    padding-top: 20px; }
    .content-block-3 .bottom-block-info .left, .content-block-3 .bottom-block-info .right {
      width: 310px;
      margin-bottom: 50px; }
      .content-block-3 .bottom-block-info .left img, .content-block-3 .bottom-block-info .left img[alt="truck"], .content-block-3 .bottom-block-info .right img, .content-block-3 .bottom-block-info .right img[alt="truck"] {
        width: 65px;
        height: 75px;
        margin-top: 0px; }
      .content-block-3 .bottom-block-info .left h3, .content-block-3 .bottom-block-info .right h3 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .content-block-3 .bottom-block-info .left p, .content-block-3 .bottom-block-info .right p {
        font-size: 11px; }
        .content-block-3 .bottom-block-info .left p::before, .content-block-3 .bottom-block-info .right p::before {
          width: 4px;
          height: 4px; }

  .content-block-4 .top h1 {
    padding-top: 30px;
    font-size: 18px; }
    .content-block-4 .top h1 .span-bottom {
      margin-top: 10px; }
      .content-block-4 .top h1 .span-bottom .right {
        font-size: 22px; }
  .content-block-4 .content {
    width: 100%; }
    .content-block-4 .content .left {
      display: flex;
      align-items: center;
      justify-content: center; }
      .content-block-4 .content .left img {
        width: 365px;
        height: 336px; }
    .content-block-4 .content .right .buy {
      width: 400px;
      margin-bottom: 60px; }
      .content-block-4 .content .right .buy h1 {
        font-size: 12px;
        padding-top: 25px; }
        .content-block-4 .content .right .buy h1 .price-uah, .content-block-4 .content .right .buy h1 .new-price-uah {
          font-size: 15px; }
      .content-block-4 .content .right .buy hr {
        width: 280px;
        margin-top: 5px;
        margin-bottom: 0px; }
      .content-block-4 .content .right .buy form {
        margin-top: 15px; }
        .content-block-4 .content .right .buy form input {
          padding: 7px 0px; }
          .content-block-4 .content .right .buy form input[placeholder] {
            font-size: 15px; }
        .content-block-4 .content .right .buy form .txt .spantxt {
          left: 88px;
          top: 8px;
          font-size: 15px; }
        .content-block-4 .content .right .buy form select {
          font-size: 15px;
          padding: 7px 0px;
          width: 277px;
          padding-left: 66px; }
        .content-block-4 .content .right .buy form button {
          font-size: 15px;
          width: 280px;
          height: 44px; }
      .content-block-4 .content .right .buy .time-txt {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 5px; }
      .content-block-4 .content .right .buy .block-time #clockdivtwo {
        font-size: 22px;
        margin-bottom: 5px; }
      .content-block-4 .content .right .buy .bottom-text {
        height: 45px; }
        .content-block-4 .content .right .buy .bottom-text span {
          font-size: 9px; }
        .content-block-4 .content .right .buy .bottom-text .hours {
          margin-left: 20px; }

  .content-block-5 .top h1 {
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 15px; }
  .content-block-5 .content .comment {
    width: 620px;
    padding: 15px 0px; }
    .content-block-5 .content .comment .left img {
      width: 140px; }
    .content-block-5 .content .comment .right {
      width: 440px; }
      .content-block-5 .content .comment .right h3 {
        font-size: 14px; }
      .content-block-5 .content .comment .right p {
        font-size: 11px; } }
@media (max-width: 992px) {
  .header .left .black-backcround {
    width: 295px;
    height: 250px; }
    .header .left .black-backcround .position-left .block-top h1 {
      font-size: 18px; }
    .header .left .black-backcround .position-left .block-top span {
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 10px; }
    .header .left .black-backcround .position-left .block-time #clockdiv {
      font-size: 18px;
      margin-bottom: 8px; }
    .header .left .black-backcround .position-left .block-bottom span {
      width: 180px;
      font-size: 8px; }
    .header .left .black-backcround .position-left .block-button {
      width: 70%;
      margin-top: 10px; }
      .header .left .black-backcround .position-left .block-button a .buy, .header .left .black-backcround .position-left .block-button a .info {
        padding: 5px 15px;
        font-size: 10px; }
  .header .right .position-right h1 {
    width: 260px;
    font-size: 10px; }
  .header .right .position-right .img-min img {
    width: 370px; }
  .header .down-arrow img {
    width: 15px; }

  .content-block-1 {
    height: 400px; }
    .content-block-1 .top-txt h1 {
      font-size: 14px;
      padding-top: 35px; }
      .content-block-1 .top-txt h1 .left::before {
        left: -19px;
        top: -10px;
        height: 31px;
        width: 18px;
        border-left: 3px solid #36a9d0;
        border-top: 3px solid #36a9d0;
        border-bottom: 3px solid #36a9d0; }
      .content-block-1 .top-txt h1 .right::after {
        right: -19px;
        top: -10px;
        height: 31px;
        width: 18px;
        border-right: 3px solid #36a9d0;
        border-top: 3px solid #36a9d0;
        border-bottom: 3px solid #36a9d0; }
    .content-block-1 .center-content .left .movie {
      top: 63px; }
      .content-block-1 .center-content .left .movie iframe {
        width: 340px;
        height: 200px; }
    .content-block-1 .center-content .right .info-block {
      top: 30px;
      width: 350px; }
      .content-block-1 .center-content .right .info-block .info .row {
        height: 60px; }
        .content-block-1 .center-content .right .info-block .info .row img[alt="tint"] {
          width: 12px;
          height: 67px; }
        .content-block-1 .center-content .right .info-block .info .row img[alt="circle-notch"] {
          width: 12px;
          height: 67px; }
        .content-block-1 .center-content .right .info-block .info .row img[alt="clock"] {
          width: 12.5px;
          height: 67px; }
        .content-block-1 .center-content .right .info-block .info .row h2 {
          font-size: 11px;
          margin-left: 8px; }
      .content-block-1 .center-content .right .info-block .info p {
        font-size: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 290px; }

  .content-block-2 .top-txt h1 {
    font-size: 14px;
    padding-top: 35px; }
    .content-block-2 .top-txt h1 .left::before {
      left: -19px;
      top: -10px;
      height: 31px;
      width: 18px;
      border-left: 3px solid #36a9d0;
      border-top: 3px solid #36a9d0;
      border-bottom: 3px solid #36a9d0; }
    .content-block-2 .top-txt h1 .right::after {
      right: -19px;
      top: -10px;
      height: 31px;
      width: 18px;
      border-right: 3px solid #36a9d0;
      border-top: 3px solid #36a9d0;
      border-bottom: 3px solid #36a9d0; }
  .content-block-2 .top-txt .txt-1 {
    margin-top: 35px;
    width: 84px; }
    .content-block-2 .top-txt .txt-1 h3 {
      font-size: 10px; }
    .content-block-2 .top-txt .txt-1 hr {
      margin-top: 3px;
      margin-bottom: 0px; }
  .content-block-2 .center-block .white-border .img-1 img, .content-block-2 .center-block .white-border .img-2 img, .content-block-2 .center-block .white-border .img-3 img, .content-block-2 .center-block .white-border .img-4 img {
    width: 140px; }
  .content-block-2 .bottom-content {
    width: 670px;
    padding-bottom: 20px; }
    .content-block-2 .bottom-content img {
      width: 400px;
      height: 282px; }

  .content-block-3 .top-txt {
    padding-top: 25px;
    padding-bottom: 0px; }
    .content-block-3 .top-txt h1 {
      font-size: 16px; }
    .content-block-3 .top-txt p {
      margin-top: 8px;
      font-size: 10px;
      margin-bottom: 0; }
  .content-block-3 .top-block-info {
    margin-top: 15px;
    width: 100%;
    justify-content: space-around; }
    .content-block-3 .top-block-info .info-bl {
      width: 175px; }
      .content-block-3 .top-block-info .info-bl img {
        width: 38px; }
        .content-block-3 .top-block-info .info-bl img[alt="box-full"] {
          width: 55px;
          padding-top: 0px; }
      .content-block-3 .top-block-info .info-bl h3 {
        font-size: 11px;
        margin-top: 3px;
        margin-bottom: 0px; }
      .content-block-3 .top-block-info .info-bl p {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 0px; }
  .content-block-3 .bottom-block-info {
    padding-top: 20px; }
    .content-block-3 .bottom-block-info .left, .content-block-3 .bottom-block-info .right {
      width: 255px;
      margin-bottom: 30px; }
      .content-block-3 .bottom-block-info .left img, .content-block-3 .bottom-block-info .left img[alt="truck"], .content-block-3 .bottom-block-info .right img, .content-block-3 .bottom-block-info .right img[alt="truck"] {
        width: 50px;
        height: 60px;
        margin-top: 0px; }
      .content-block-3 .bottom-block-info .left h3, .content-block-3 .bottom-block-info .right h3 {
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .content-block-3 .bottom-block-info .left p, .content-block-3 .bottom-block-info .right p {
        font-size: 9px;
        margin-top: 7px;
        margin-bottom: 5px; }
        .content-block-3 .bottom-block-info .left p::before, .content-block-3 .bottom-block-info .right p::before {
          width: 4px;
          height: 4px; }

  .content-block-4 .top h1 {
    padding-top: 25px;
    font-size: 16px; }
    .content-block-4 .top h1 .span-bottom {
      margin-top: 5px; }
      .content-block-4 .top h1 .span-bottom .right {
        font-size: 18px; }
  .content-block-4 .content {
    width: 100%; }
    .content-block-4 .content .left {
      display: flex;
      align-items: center;
      justify-content: center; }
      .content-block-4 .content .left img {
        width: 300px;
        height: 276px; }
    .content-block-4 .content .right .buy {
      width: 320px;
      margin-top: 25px;
      margin-bottom: 40px; }
      .content-block-4 .content .right .buy h1 {
        font-size: 9px;
        padding-top: 25px; }
        .content-block-4 .content .right .buy h1 .price-uah, .content-block-4 .content .right .buy h1 .new-price-uah {
          font-size: 10px; }
      .content-block-4 .content .right .buy hr {
        width: 210px;
        margin-top: 5px;
        margin-bottom: 0px; }
      .content-block-4 .content .right .buy form {
        margin-top: 15px; }
        .content-block-4 .content .right .buy form input {
          width: 230px;
          padding: 7px 0px; }
          .content-block-4 .content .right .buy form input[placeholder] {
            font-size: 15px; }
        .content-block-4 .content .right .buy form .txt .spantxt {
          left: 81px;
          top: 8px;
          font-size: 13px; }
        .content-block-4 .content .right .buy form select {
          font-size: 13px;
          padding: 7px 0px;
          width: 230px;
          padding-left: 68px; }
        .content-block-4 .content .right .buy form button {
          font-size: 13px;
          width: 233px;
          height: 37px; }
      .content-block-4 .content .right .buy .time-txt {
        font-size: 10px;
        margin-top: 7px;
        margin-bottom: 5px; }
      .content-block-4 .content .right .buy .block-time #clockdivtwo {
        font-size: 16px;
        margin-bottom: 5px; }
      .content-block-4 .content .right .buy .bottom-text {
        height: 45px; }
        .content-block-4 .content .right .buy .bottom-text span {
          font-size: 7px; }
        .content-block-4 .content .right .buy .bottom-text .hours {
          margin-left: 17px; }

  .content-block-5 .top h1 {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 15px; }
  .content-block-5 .content .comment {
    width: 580px;
    padding: 15px 0px; }
    .content-block-5 .content .comment .left img {
      width: 120px; }
    .content-block-5 .content .comment .right {
      width: 410px; }
      .content-block-5 .content .comment .right h3 {
        font-size: 11px; }
      .content-block-5 .content .comment .right p {
        font-size: 9px; } }
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 770px; }
    .header .left {
      width: auto;
      padding-bottom: 15px; }
      .header .left .black-backcround {
        box-shadow: none;
        top: auto;
        transform: none;
        width: 295px;
        height: 250px; }
        .header .left .black-backcround .position-left .block-top h1 {
          font-size: 18px;
          text-shadow: none; }
        .header .left .black-backcround .position-left .block-top span {
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 10px;
          text-shadow: none; }
        .header .left .black-backcround .position-left .block-time #clockdiv {
          font-size: 18px;
          margin-bottom: 8px; }
        .header .left .black-backcround .position-left .block-bottom span {
          width: 180px;
          font-size: 8px;
          text-shadow: none; }
        .header .left .black-backcround .position-left .block-button {
          width: 70%;
          margin-top: 10px; }
          .header .left .black-backcround .position-left .block-button a .buy, .header .left .black-backcround .position-left .block-button a .info {
            padding: 5px 15px;
            font-size: 10px; }
    .header .right {
      width: auto;
      padding-top: 15px; }
      .header .right .position-right {
        transform: none;
        top: auto; }
        .header .right .position-right h1 {
          width: 260px;
          font-size: 10px; }
        .header .right .position-right .img-min img {
          width: 370px; }
    .header .down-arrow {
      top: 287px;
      width: auto;
      left: 264px;
      display: none; }
      .header .down-arrow img {
        width: 9px; }

  .content-block-1 {
    height: 680px; }
    .content-block-1 .top-txt h1 {
      font-size: 14px;
      padding-top: 25px; }
      .content-block-1 .top-txt h1 .left::before {
        border-left: 2px solid #36a9d0;
        border-top: 2px solid #36a9d0;
        border-bottom: 2px solid #36a9d0; }
      .content-block-1 .top-txt h1 .right::after {
        border-right: 2px solid #36a9d0;
        border-top: 2px solid #36a9d0;
        border-bottom: 2px solid #36a9d0; }
    .content-block-1 .center-content {
      flex-direction: column;
      justify-content: center; }
      .content-block-1 .center-content .left {
        width: auto; }
        .content-block-1 .center-content .left .movie {
          top: 35px; }
          .content-block-1 .center-content .left .movie iframe {
            width: 500px;
            height: 285px; }
      .content-block-1 .center-content .right {
        width: auto; }
        .content-block-1 .center-content .right .info-block {
          width: 410px; }
          .content-block-1 .center-content .right .info-block .info .row {
            justify-content: center; }
            .content-block-1 .center-content .right .info-block .info .row img[alt="tint"] {
              width: 18px; }
            .content-block-1 .center-content .right .info-block .info .row img[alt="circle-notch"] {
              width: 18px; }
            .content-block-1 .center-content .right .info-block .info .row img[alt="clock"] {
              width: 18px; }
            .content-block-1 .center-content .right .info-block .info .row h2 {
              font-size: 16px; }
              .content-block-1 .center-content .right .info-block .info .row h2 br {
                display: none; }
              .content-block-1 .center-content .right .info-block .info .row h2 .bottom {
                margin-left: 3px; }
          .content-block-1 .center-content .right .info-block .info p {
            width: auto;
            font-size: 12px; }

  .content-block-2 .top-txt h1 {
    font-size: 14px;
    padding-top: 25px; }
    .content-block-2 .top-txt h1 .left::before {
      border-left: 2px solid #36a9d0;
      border-top: 2px solid #36a9d0;
      border-bottom: 2px solid #36a9d0; }
    .content-block-2 .top-txt h1 .right::after {
      border-right: 2px solid #36a9d0;
      border-top: 2px solid #36a9d0;
      border-bottom: 2px solid #36a9d0; }
  .content-block-2 .center-block {
    flex-wrap: wrap; }
    .content-block-2 .center-block .white-border {
      width: 50%;
      display: flex;
      justify-content: center; }
      .content-block-2 .center-block .white-border .img-1 img, .content-block-2 .center-block .white-border .img-2 img, .content-block-2 .center-block .white-border .img-3 img, .content-block-2 .center-block .white-border .img-4 img {
        width: 180px; }
  .content-block-2 .bottom-content {
    width: 550px; }

  .content-block-4 .content .left {
    display: none; }

  .content-block-5 .content .comment {
    width: 500px; }
    .content-block-5 .content .comment .left img {
      width: 110px; }
    .content-block-5 .content .comment .right {
      width: 340px; }
      .content-block-5 .content .comment .right h3 {
        font-size: 12px; }
      .content-block-5 .content .comment .right p {
        font-size: 10px; } }
@media (max-width: 576px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 620px; }
    .header .left {
      width: auto;
      padding-bottom: 15px; }
      .header .left .black-backcround {
        box-shadow: none;
        top: auto;
        transform: none;
        width: 295px;
        height: 250px; }
        .header .left .black-backcround .position-left .block-top h1 {
          font-size: 18px;
          text-shadow: none; }
        .header .left .black-backcround .position-left .block-top span {
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 10px;
          text-shadow: none; }
        .header .left .black-backcround .position-left .block-time #clockdiv {
          font-size: 18px;
          margin-bottom: 8px; }
        .header .left .black-backcround .position-left .block-bottom span {
          width: 180px;
          font-size: 8px;
          text-shadow: none; }
        .header .left .black-backcround .position-left .block-button {
          width: 70%;
          margin-top: 10px; }
          .header .left .black-backcround .position-left .block-button a .buy, .header .left .black-backcround .position-left .block-button a .info {
            padding: 5px 15px;
            font-size: 10px; }
    .header .right {
      width: auto;
      padding-top: 15px; }
      .header .right .position-right {
        transform: none;
        top: auto; }
        .header .right .position-right h1 {
          width: 260px;
          font-size: 10px; }
        .header .right .position-right .img-min img {
          width: 300px; }
    .header .down-arrow {
      top: 287px;
      width: auto;
      left: 264px; }
      .header .down-arrow img {
        width: 9px; }

  .content-block-1 {
    height: 600px; }
    .content-block-1 .top-txt h1 {
      font-size: 12px;
      padding-top: 25px; }
      .content-block-1 .top-txt h1 .left::before {
        left: -14px;
        top: -8px;
        height: 25px;
        width: 12px; }
      .content-block-1 .top-txt h1 .right::after {
        right: -14px;
        top: -8px;
        height: 25px;
        width: 12px; }
    .content-block-1 .center-content {
      flex-direction: column;
      justify-content: center; }
      .content-block-1 .center-content .left {
        width: auto; }
        .content-block-1 .center-content .left .movie {
          top: 35px; }
          .content-block-1 .center-content .left .movie iframe {
            width: 280px;
            height: 165px; }
      .content-block-1 .center-content .right {
        width: auto; }
        .content-block-1 .center-content .right .info-block {
          width: 100%; }
          .content-block-1 .center-content .right .info-block .info .row {
            justify-content: start;
            margin-left: 25px; }
            .content-block-1 .center-content .right .info-block .info .row img[alt="tint"] {
              width: 15px; }
            .content-block-1 .center-content .right .info-block .info .row img[alt="circle-notch"] {
              width: 15px; }
            .content-block-1 .center-content .right .info-block .info .row img[alt="clock"] {
              width: 15px; }
            .content-block-1 .center-content .right .info-block .info .row h2 {
              font-size: 12px; }
              .content-block-1 .center-content .right .info-block .info .row h2 br {
                display: none; }
              .content-block-1 .center-content .right .info-block .info .row h2 .bottom {
                margin-left: 3px; }
          .content-block-1 .center-content .right .info-block .info p {
            width: auto;
            font-size: 12px; }

  .content-block-2 .top-txt h1 {
    font-size: 12px;
    padding-top: 25px; }
    .content-block-2 .top-txt h1 .left::before {
      left: -14px;
      top: -8px;
      height: 25px;
      width: 12px; }
    .content-block-2 .top-txt h1 .right::after {
      right: -14px;
      top: -8px;
      height: 25px;
      width: 12px; }
  .content-block-2 .center-block {
    flex-wrap: inherit;
    flex-direction: column; }
    .content-block-2 .center-block .white-border {
      width: 100%;
      display: flex;
      justify-content: center; }
      .content-block-2 .center-block .white-border .img-1 img, .content-block-2 .center-block .white-border .img-2 img, .content-block-2 .center-block .white-border .img-3 img, .content-block-2 .center-block .white-border .img-4 img {
        width: 180px; }
  .content-block-2 .bottom-content {
    width: 280px; }
    .content-block-2 .bottom-content img {
      width: 280px;
      height: 197px; }

  .content-block-3 .top-txt {
    padding-top: 15px; }
  .content-block-3 .top-block-info {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .content-block-3 .top-block-info .info-bl {
      padding-top: 5px;
      padding-bottom: 5px;
      width: 220px; }
      .content-block-3 .top-block-info .info-bl h3 {
        font-size: 14px; }
      .content-block-3 .top-block-info .info-bl p {
        font-size: 10px; }
  .content-block-3 .bottom-block-info {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .content-block-3 .bottom-block-info .left {
      margin-bottom: 0px; }
    .content-block-3 .bottom-block-info .left h3, .content-block-3 .bottom-block-info .right h3 {
      font-size: 14px; }
    .content-block-3 .bottom-block-info .left p, .content-block-3 .bottom-block-info .right p {
      font-size: 10px; }

  .content-block-4 .top h1 {
    font-size: 14px;
    padding-top: 20px; }
    .content-block-4 .top h1 .span-bottom .right {
      font-size: 16px; }
  .content-block-4 .content .left {
    display: none; }
  .content-block-4 .content .right .buy {
    width: 270px; }
    .content-block-4 .content .right .buy h1 {
      font-size: 10px; }
      .content-block-4 .content .right .buy h1 .price-uah, .content-block-4 .content .right .buy h1 .new-price-uah {
        font-size: 11px; }
    .content-block-4 .content .right .buy hr {
      width: 170px; }
    .content-block-4 .content .right .buy form input {
      width: 185px; }
      .content-block-4 .content .right .buy form input[placeholder] {
        font-size: 13px; }
    .content-block-4 .content .right .buy form .txt .spantxt {
      left: 70px;
      top: 8px;
      font-size: 10px; }
    .content-block-4 .content .right .buy form select {
      width: 185px;
      font-size: 10px;
      padding-left: 55px; }
    .content-block-4 .content .right .buy form button {
      width: 195px; }

  .content-block-5 .top h1 {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 5px; }
  .content-block-5 .content .comment {
    width: 100%; }
    .content-block-5 .content .comment .left img {
      width: 50px; }
    .content-block-5 .content .comment .right {
      width: 75%; }
      .content-block-5 .content .comment .right h3 {
        font-size: 12px; }
      .content-block-5 .content .comment .right p {
        font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
