body {
  margin: 0px;
}
body a {
  text-decoration: none;
}

.header {
  background-color: #464646;
}
.header .header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-width: 1000px;
  max-width: 2000px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-center .launge {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, sans-serif;
  margin-top: 6px;
}
.header .header-center .launge .line {
  width: 1px;
  height: 15px;
  background-color: #c5c5c5;
}
.header .header-center .launge a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #c5c5c5;
}
.header .header-center .launge .ru {
  margin-right: 10px;
}
.header .header-center .launge .ru a {
  color: #ffffff;
}
.header .header-center .launge .ua {
  margin-left: 10px;
}
.header .header-center .launge .ua :hover {
  color: #ffffff;
}
.header .header-center .launge .logo {
  margin-left: 90px;
}
.header .header-center .launge .logo :hover {
  color: #ffffff;
}
.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  margin-left: 1.5%;
}
.header .search input {
  border-radius: 20px;
  border: 0px;
  padding: 8px 35px 8px 15px;
  width: 365px;
  background-color: #858585;
  outline: none;
  font-style: italic;
  color: #c5c5c5;
  font-family: Arial, sans-serif;
}
.header .search input::-webkit-input-placeholder {
  color: #c5c5c5;
}
.header .search input:-ms-input-placeholder {
  color: #c5c5c5;
}
.header .search input::-ms-input-placeholder {
  color: #c5c5c5;
}
.header .search input::placeholder {
  color: #c5c5c5;
}
.header .search a {
  background: url("icon/search.png") no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
  right: 30px;
}
.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
}
.header .user .img-user {
  margin-top: 6px;
  margin-right: 10px;
  width: 19px;
  height: 19px;
  background: url(icon/user.png) no-repeat;
}
.header .user a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #c5c5c5;
}
.header .user .account {
  margin-top: 8px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.header .user .account :hover {
  color: #ffffff;
}
.header .user .img-basket {
  background: url(icon/basket.png) no-repeat;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 15px;
}
.header .user .basket {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.header .user .basket :hover {
  color: #ffffff;
}

.header_1 {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header_1 .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  max-width: 2000px;
  min-width: 1000px;
}
.header_1 .position .center_header_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_1 .position .center_header_1 button {
  color: black;
  font-size: 15px;
  font-family: "MyriadPro-Regular", sans-serif;
  padding: 17px 26px;
  border: 0;
  background-color: #f4f4f4;
  outline: 0 !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header_1 .position .center_header_1 button:hover {
  color: #f4f4f4;
  background-color: #464646;
  padding: 17px 26px;
}
.header_1 .position .number_phone {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "MyriadPro-Regular", sans-serif;
  right: 10%;
  color: black;
  font-size: 18px;
  padding: 15px 0px;
  width: 150px;
}

.line {
  margin: 0px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f4f4f4;
}
.slider .slider_sl {
  width: 70%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.content .catalog {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .catalog .catalog_towarow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 600px;
  border: 0px solid #ebebeb;
}
.content .catalog .catalog_towarow .cases {
  height: 315px;
}
.content .catalog .catalog_towarow .smartphone_cases, .content .catalog .catalog_towarow .tablet_cases {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 18px;
  text-align: center;
  background-color: #ebebeb;
  width: 100%;
  font-family: "MyriadPro-Regular", sans-serif;
  padding: 15px 0px;
}
.content .catalog .catalog_towarow .smartphone_cases a, .content .catalog .catalog_towarow .tablet_cases a {
  color: black;
  padding-left: 0px;
}
.content .catalog .catalog_towarow .smartphone_cases:hover, .content .catalog .catalog_towarow .tablet_cases:hover {
  background-color: #464646;
}
.content .catalog .catalog_towarow .smartphone_cases:hover a, .content .catalog .catalog_towarow .tablet_cases:hover a {
  color: #ffffff;
}
.content .catalog .catalog_towarow .sm, .content .catalog .catalog_towarow .tb {
  position: absolute;
  width: 80%;
  top: 60px;
  font-size: 0px;
  padding: 0% 10%;
}
.content .catalog .catalog_towarow .sm a, .content .catalog .catalog_towarow .tb a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "MyriadPro-Regular", sans-serif;
  display: block;
  padding: 10px 0px 10px 0px;
  color: black;
  font-size: 16px;
  border-bottom: 1px solid #ebebeb;
}
.content .catalog .catalog_towarow .sm a:hover, .content .catalog .catalog_towarow .tb a:hover {
  border-bottom: 1px solid #858585;
  font-size: 20px;
}
.content .catalog .catalog_towarow .tablet, .content .catalog .catalog_towarow .smartphone {
  position: relative;
  width: 100%;
}
.content .tovar {
  position: relative;
  top: -34px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  max-width: 2000px;
}
.content .tovar .txt-best-products {
  margin-right: 3%;
  text-align: center;
  font-size: 20px;
  font-family: "MyriadPro-Regular", sans-serif;
  color: #858585;
  letter-spacing: 0.5px;
}
.content .tovar .txt-best-products hr {
  border: 0.7px solid #858585;
  width: 95%;
}
.content .tovar .products {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.content .tovar .products .block {
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 250px;
  max-width: 366px;
  height: 420px;
  margin: 0.3% 0.3% 0% 0.3%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  background-color: #ffffff;
}
.content .tovar .products .block div .ph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 245px;
  padding: 5%;
}
.content .tovar .products .block div .ph .photo {
  display: block;
  height: 100%;
}
.content .tovar .products .block div .star {
  display: block;
  margin: auto;
  margin-bottom: 3%;
}
.content .tovar .products .block div .comment a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .tovar .products .block div .comment a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17px;
  height: 17px;
}
.content .tovar .products .block div .comment a span {
  margin-left: 3px;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 12px;
  margin-top: 3px;
}
.content .tovar .products .block div .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7px;
  margin-bottom: 5px;
}
.content .tovar .products .block div .description span {
  display: block;
  width: 90%;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 23px;
}
.content .tovar .products .block div .price {
  position: absolute;
  display: block;
  bottom: 10px;
  margin-left: 4%;
  font-size: 23px;
  font-family: "Roboto-Regular", sans-serif;
}
.content .tovar .products .block div .price span {
  margin-left: 2px;
  font-size: 17px;
  font-family: "MyriadPro-Regular", sans-serif;
}
.content .tovar .products .block div a button {
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  right: 4%;
  bottom: 10px;
  background-color: #52aa0b;
  border: 0px;
  padding: 6.5px 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.content .tovar .products .block div a button:hover {
  cursor: pointer;
  background-color: #71ca28;
}
.content .tovar .products .block:hover {
  -webkit-box-shadow: 12px 12px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 12px 12px 60px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.content .tovar .down-spusok {
  font-size: 22px;
  font-family: "Roboto-Regular", sans-serif;
  text-align: center;
  margin-top: 25px;
}
.content .tovar .down-spusok a {
  -webkit-transition: all 0.3S ease;
  transition: all 0.3S ease;
  color: #5c5c5c;
  margin-right: 7px;
  margin-left: 7px;
}
.content .tovar .down-spusok a:hover {
  color: black;
}
.content .tovar .down-spusok span {
  color: #5c5c5c;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #464646;
  padding: 25px 0px 15px 0px;
}
footer .block-footer {
  width: 80%;
  min-width: 1000px;
  max-width: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .block-footer .left-footer {
  margin-top: 5px;
}
footer .block-footer .left-footer a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #c5c5c5;
  font-family: "MyriadPro-Regular", sans-serif;
}
footer .block-footer .left-footer a:hover {
  color: #ffffff;
}
footer .block-footer .center-footer {
  margin-top: 5px;
}
footer .block-footer .center-footer a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #c5c5c5;
  font-family: "MyriadPro-Regular", sans-serif;
  margin-left: 7px;
  margin-right: 7px;
}
footer .block-footer .center-footer a:hover {
  color: #ffffff;
}
footer .block-footer .right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .block-footer .right-footer .line {
  margin-right: 15px;
  height: 30px;
  width: 1px;
  background-color: #c5c5c5;
}
footer .block-footer .right-footer .imeges .vkont {
  display: block;
  background: url("icon/vk.svg");
  width: 25px;
  height: 25px;
  fill: green;
}
footer .block-footer .right-footer .imeges a img {
  margin-right: 7px;
  margin-top: 3px;
}
footer .block-footer .right-footer .imeges a .vk {
  margin-bottom: 3px;
}

.footer-1 {
  padding: 10px 0px 5px 0px;
  background-color: #201f1f;
}
.footer-1 .number span {
  color: #838383;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 18px;
}
.footer-1 .number a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #838383;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 14px;
  margin-left: 20px;
}
.footer-1 .number a:hover {
  color: #c5c5c5;
}

@media (max-width: 1180px) {
  .content .catalog {
    display: none;
  }
  .content .tovar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1020px) {
  .header .header-center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-width: 320px;
  }
  .header .header-center .launge {
    margin-left: 15px;
    width: 120px;
    font-size: 14px;
  }
  .header .header-center .launge .logo {
    margin-left: 25px;
  }
  .header .header-center .search {
    width: 50%;
  }
  .header .header-center .user {
    width: 70px;
    margin-right: 15px;
  }
  .header .header-center .user .account a {
    display: none;
  }
  .header .header-center .user .basket {
    font-size: 0px;
  }

  .header_1 .position {
    width: 100%;
    min-width: 0;
  }
  .header_1 .position .center_header_1 button {
    font-size: 12px;
  }
  .header_1 .position .number_phone {
    font-size: 13px;
    width: 120px;
  }
  .header_1 .position .n1 {
    display: none;
  }

  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f4f4f4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .slider .slider_sl {
    width: 100%;
  }

  footer .block-footer {
    font-size: 12px;
    width: 100%;
    min-width: 580px;
    max-width: none;
  }
  footer .block-footer .left-footer {
    position: relative;
    left: 15px;
  }
  footer .block-footer .center-footer {
    margin-top: 7px;
  }
  footer .block-footer .right-footer {
    position: relative;
    right: 15px;
  }
}
@media (max-width: 628px) {
  .content .tovar .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 576px) {
  .header .header-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header .header-center .launge {
    position: absolute;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 82%;
    margin-top: 50px;
    width: 0px;
    font-size: 12px;
  }
  .header .header-center .launge .logo {
    position: absolute;
    top: -100px;
  }
  .header .header-center .launge .line {
    position: absolute;
    margin-left: 27.5px;
    top: -1px;
  }
  .header .header-center .search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 90%;
    margin-left: 7%;
  }
  .header .header-center .search input {
    padding: 8px 15% 8px 15px;
    width: 100%;
  }
  .header .header-center .user {
    margin-left: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 280px;
    margin-top: 10px;
  }
  .header .header-center .user .account {
    font-size: 12px;
  }
  .header .header-center .user .basket {
    font-size: 12px;
  }

  .header_1 .position {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-width: 0;
  }
  .header_1 .position .center_header_1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_1 .position .center_header_1 button {
    font-size: 12px;
    padding: 10px 7px;
  }
  .header_1 .position .center_header_1 button:hover {
    color: #f4f4f4;
    background-color: #464646;
    padding: 10px 10px;
  }
  .header_1 .position .number_phone {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */