@font-face {
    font-family: "MyriadPro-Regular"; 
   src: url("catalog/view/theme/vasek/stylesheet/fonts/MyriadPro-Regular/MyriadPro-Regular.eot"); 
   src: url("catalog/view/theme/vasek/stylesheet/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
   url("catalog/view/theme/vasek/stylesheet/fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), 
   url("catalog/view/theme/vasek/stylesheet/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}
@font-face {
    font-family: "Roboto-Regular"; 
   src: url("../fonts/Roboto-Regular/Roboto-Regular.eot"); 
   src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), 
   url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}

@font-face {
    font-family: "Roboto-Regular"; 
   src: url("../fonts/Roboto-Regular/Roboto-Regular.eot"); 
   src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), 
   url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}

@font-face {
    font-family: "ThirstyScriptRegular"; 
   src: url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.eot"); 
   src: url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.woff") format("woff"), 
   url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}
