// color
$color-1: #464646;
$color-2: #f4f4f4;
$white-color: #ffffff;
$black-color: black;

//font size
$f_size: 14px;

// fonts color
$fount-color: #c5c5c5;

// fonts
$Myriad: "MyriadPro-Regular", sans-serif;
$Roboto: "Roboto-Regular", sans-serif;
$Open-sans: "Roboto-Regular", sans-serif;

body{
    margin: 0px;
    a {
        text-decoration: none;
    }
}
.header { 
    background-color: $color-1;  
    .header-center{  
        display: flex;
        width: 80%;    
        min-width: 1000px; 
        max-width: 2000px; 
        padding-top: 15px;        
        padding-bottom: 15px;
        margin: auto;        
        justify-content: space-between;       
        .launge{
            width: 280px;   
            display: flex;
            font-family: Arial, sans-serif; 
            margin-top: 6px;           
            .line{               
                width: 1px;
                height: 15px;
                background-color: $fount-color;
            }            
            a {   
                transition: all 0.3s ease;                                                 
                color: $fount-color; 
            }            
            .ru{
                margin-right: 10px;
                a{
                    color: $white-color;                
                }
            } 
            .ua{                
                margin-left: 10px;    
                :hover{
                    color: $white-color;
                }            
            }
            
            .logo{                
                margin-left: 90px;
                :hover{
                    color: $white-color;
                }
            }
        }
    }  
    .search {
        display: flex;
        width: 440px;
        margin-left: 1.5%;
        input{
            border-radius: 20px;        
            border: 0px; 
            padding: 8px 35px 8px 15px;
            width: 365px;
            background-color: #858585;            
            outline: none;            
            font-style: italic;
            color: $fount-color;
            font-family: Arial, sans-serif;            
        }
        input::placeholder{
            color: $fount-color;
        }
        a{
            background: url('icon/search.png') no-repeat;
            width: 20px;
            height: 20px;
            position: relative;
            top: 6px;
            right: 30px;
        }
    }
    .user{          
        display: flex;    
        width: 280px;
        .img-user{
            margin-top: 6px;
            margin-right: 10px;
            width: 19px;
            height: 19px;
            background: url(icon/user.png) no-repeat;       
        }
        a{
            transition: all 0.3s ease;
            color: $fount-color;
        }
        .account{
            margin-top: 8px;
            font-size: $f_size;
            font-family: Arial, sans-serif;            
            :hover{
                color: $white-color;
            }
        }
        .img-basket{
            background: url(icon/basket.png) no-repeat;
            width: 25px;
            height: 25px;
            margin-top: 5px;
            margin-left: 15px;
        }
        .basket{
            margin-top: 8px;
            margin-left: 10px;
            font-size: $f_size;
            font-family: Arial, sans-serif;
            :hover{
                color: $white-color;
            }
        }
    }
}

.header_1{
    background-color: $color-2; 
    display: flex;
    justify-content: center;   
    .position{        
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 2000px;  
        min-width: 1000px;

        .center_header_1{
            display: flex;
            button{
                color: $black-color;
                font-size: 15px;
                font-family: $Myriad;
                padding: 17px 26px;
                border: 0;  
                background-color: $color-2;
                outline: 0 !important; // убирает рамку   
                transition: all 0.2s ease;
            }
            button:hover{
                color: $color-2; 
                background-color: $color-1;            
                padding: 17px 26px; 
                        
            }
        }
        .number_phone{
            transition: all 0.2s ease;
            font-family: $Myriad;
            right: 10%;
            color: $black-color;
            font-size: 18px;
            padding: 15px 0px;
            width: 150px;
        }    
    }
}
.line{
    margin: 0px;
}

.slider{
    display: flex;
    justify-content: center;
    background-color: $color-2;
    .slider_sl{
        width: 70%;
    }
    
}

.content{    
    display: flex;
    margin-top: 50px;

    .catalog{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        .catalog_towarow{
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 600px;
            border: 0px solid #ebebeb;            
            
            .cases{
                height: 315px;
            }
            .smartphone_cases, .tablet_cases{  
                transition: all 0.3s ease;               
                font-size: 18px;  
                text-align: center;              
                background-color: #ebebeb;
                width: 100%;
                font-family: $Myriad;
                padding: 15px 0px;
                a{
                    color: $black-color;
                    padding-left: 0px; 
                }               
            }            
            .smartphone_cases:hover, .tablet_cases:hover{
                background-color: $color-1;
                a{
                    color: $white-color;
                }
            }

            .sm, .tb{
                position: absolute;
                width: 80%;
                top: 60px;
                font-size: 0px;
                padding: 0% 10%;
                a{                    
                    transition: all 0.2s ease;
                    font-family: $Myriad;
                    display: block;
                    padding: 10px 0px 10px 0px;                    
                    color: $black-color;
                    font-size: 16px;
                    border-bottom: 1px solid #ebebeb;
                }
                a:hover{
                   border-bottom: 1px solid #858585; 
                   font-size:  20px;
                }                               
            }
            .tablet, .smartphone{
                position: relative;                
                width: 100%;
            }
        }
    }

    .tovar{
        position: relative;
        top: -34px;
        flex: 3;
        width: 100%;
        max-width: 2000px;
        .txt-best-products{
            margin-right: 3%;
            text-align: center;
            font-size: 20px;
            font-family: $Myriad;
            color: #858585;
            letter-spacing: 0.5px;   
            
            hr{
                border: 0.7px solid #858585;  
                width: 95%;
            }
        }
        .products{
            width: 97%;           
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            .block{
                margin-bottom: 10px;
                transition: all 0.4s ease; 
                flex-grow: 1;          
                width: 250px;
                max-width: 366px;
                height: 420px;
               // border: 1px solid #e6e4e4;
                margin: 0.3% 0.3% 0% 0.3%;
                flex-shrink: 0;
                position: relative;
                background-color: $white-color;                
                div{
                    .ph{
                        display: flex;
                        justify-content: center;
                        height: 245px;
                        padding: 5%;
                        .photo{   
                            display: block;
                            height: 100%;
                        }
                    }
                    .star{
                        display: block;                     
                        margin: auto;
                        margin-bottom: 3%;
                    }
                    .comment{
                        a{
                            display: flex;
                            justify-content: center;
                            img{
                                display: flex;
                                width: 17px;
                                height: 17px;
                            }
                            span{
                                margin-left: 3px;
                                font-family: $Myriad;
                                font-size: 12px;
                                margin-top: 3px;
                            }
                        }
                    }
                    .description{
                        display: flex;
                        justify-content: center;
                        margin-top: 7px;
                        margin-bottom: 5px;
                        span{
                            display: block;
                            width: 90%;
                            font-family: $Roboto;
                            font-size: 12px;
                            text-align: center;
                            line-height: 23px;
                        }                        
                    }
                    .price{
                        position: absolute;
                        display: block;
                        bottom: 10px;
                        margin-left: 4%;
                        font-size: 23px;
                        font-family: $Open-sans;
                        span{
                            margin-left: 2px;
                            font-size: 17px;
                            font-family: $Myriad; 
                        }
                    }
                    a{
                        button{
                            font-family: $Myriad;
                            font-size: 15px;
                            color: $white-color;
                            position: absolute;
                            right: 4%;
                            bottom: 10px;
                            background-color: #52aa0b;
                            border: 0px;
                            padding: 6.5px 20px; 
                            transition: all 0.2s ease;      
                        }
                        button:hover{
                            cursor: pointer;
                            background-color: #71ca28;
                        }
                    }
                }
            }
            .block:hover{
               
                box-shadow: 12px 12px 60px rgba(0, 0, 0, 0.2);
                z-index: 2;
            }
        }
        .down-spusok{
            font-size: 22px;
            font-family: $Roboto;
            text-align: center;
            margin-top: 25px;
            a{
                transition: all 0.3S ease;
                color: #5c5c5c;
                margin-right: 7px;
                margin-left: 7px;

            }
            a:hover{
                color: black;
            }
            span{
                color: #5c5c5c;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    background-color: $color-1;
    padding: 25px 0px 15px 0px;
    .block-footer{
        width: 80%;
        min-width: 1000px;
        max-width: 2000px;
        display: flex;
        justify-content: space-between;
        .left-footer{
            margin-top: 5px;
            a{
                transition: all 0.3s ease;
                color: $fount-color;
                font-family: $Myriad;
            }
            a:hover{
                color: #ffffff;
            }
        }
        .center-footer{
            margin-top: 5px;
            a{
                transition: all 0.3s ease;
                color: $fount-color;
                font-family: $Myriad;
                margin-left: 7px;
                margin-right: 7px;
            }
            a:hover{
                color: #ffffff;
            }
        }
        .right-footer{
            display: flex;
            .line{
                margin-right: 15px;
                height: 30px;
                width: 1px;
                background-color: $fount-color;
            }
            .imeges{
                .vkont{
                    display: block;
                    background: url("icon/vk.svg") ;
                    width: 25px;
                    height: 25px;
                    fill: green;
                }
                a{
                    
                    img{
                        margin-right: 7px;                        
                        margin-top: 3px;
                    }   
                    .vk{
                        margin-bottom: 3px;
                    }               
                    
                }
            }
        }
    }
}

.footer-1{    
    padding: 10px 0px 5px 0px;
    background-color: #201f1f;
    .number{

        span{
            color: #838383;
            font-family: $Myriad;
            font-size: 18px;
        }
        a{
            transition: all 0.3s ease;
            color: #838383;
            font-family: $Myriad;
            font-size: 14px;
            margin-left: 20px;
        }
        a:hover{
            color: #c5c5c5;
        }
    }
}




















































//#####################################################################################################################################################################################







@media (max-width: 1180px) {
    .content{
        .catalog{
            display: none;
        }
        .tovar{
            justify-content: center;            
        }
    }
}



@media (max-width: 1020px) {
    .header{
        .header-center{
            justify-content: space-between;
            width: 100%;
            min-width: 320px;
            .launge{
                margin-left: 15px;
                width: 120px;
                font-size: 14px;  
                .logo{
                    margin-left: 25px;
                }              
            }
            .search{
                width: 50%;
            }
            .user {
                width: 70px;
                margin-right: 15px;
                .account{
                    a{
                        display: none;
                    }
                }
                .basket{
                    font-size: 0px;
                }
            }
        }
    }
    .header_1{
        .position{
            width: 100%;
            min-width: 0;             
            .center_header_1{
                button{
                    font-size: 12px;
                }
            }
            .number_phone{
                font-size: 13px;
                width: 120px;
            }
            .n1{
                display: none;
            }
        }
    }
    
    .slider{
        display: flex;
        justify-content: center;
        background-color: $color-2;
        transition: all 0.3s ease;
        .slider_sl{
            width: 100%;
        }
    }    

    footer{
        .block-footer{
            font-size: 12px;
            width: 100%;
            min-width: 580px;
            max-width: none;
            .left-footer{
                position: relative;
                left: 15px;
            }
            .center-footer{
                margin-top: 7px;
            }
            .right-footer{
                position: relative;
                right: 15px;
            }
        }
    }
}

@media (max-width: 628px) {
    .content{
        .tovar{
            .products{
                justify-content: center;
            }
        }
    }
}


//разришение от 576пикс. до 768пикс.
@media (max-width: 576px) {
    .header{
        .header-center{
            flex-direction: column;
            width: 100%;
            .launge{

                position: absolute;
                order: 2;
                margin-left: 82%;
                margin-top: 50px;
                width: 0px;
                font-size: 12px;  
                .logo{                    
                    position: absolute;
                    top: -100px;
                }    
                .line{
                    position: absolute;
                    margin-left: 27.5px;
                    top: -1px;
                }          
            }
            .search{
                order: 1;
                width: 90%;
                margin-left: 7%;
                input{                     
                    padding: 8px 15% 8px 15px;
                    width: 100%
                }
            }
            .user {
                margin-left: 10px;
                order: 3;
                width: 280px;
                margin-top: 10px;
                .account{
                    font-size: 12px;
                }
                .basket{
                    font-size: 12px;
                }
            }
        }
    }

    .header_1{
        .position{
            justify-content: center;
            width: 100%;
            min-width: 0;             
            .center_header_1{
                width: 100%;
                display: flex;
                justify-content: space-between;
                button{
                    font-size: 12px;
                    padding: 10px 7px;
                }
                button:hover{
                    color: $color-2; 
                    background-color: $color-1;            
                    padding: 10px 10px;
                            
                }
            }
            .number_phone{
                display: none;
            }
        }
    }
   
    
}

