@font-face {
    font-family: "MyriadPro-Regular"; 
   src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot"); 
   src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), 
   url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}
@font-face {
    font-family: "ThirstyScriptRegular"; 
   src: url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.eot"); 
   src: url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.eot?#iefix") format("embedded-opentype"),
   url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.woff") format("woff"), 
   url("../fonts/ThirstyScriptRegular/ThirstyScriptRegular.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
}
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Regular.woff') format('woff'),
    url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Myriad Pro Light';
    src: url('MyriadPro-Light.eot');
    src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Light.woff') format('woff'),
    url('MyriadPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
